@import url(http://fonts.googleapis.com/css?family=Ribeye+Marrow);

body {
  font-family: Ribeye Marrow;
  margin: 0;
  padding: 0;
  /*padding-left: 40%;*/
  text-align: center;
}

#search-div{
  width:100%;
}

/*form {
  position: fixed;
  left: 10%;
  top: 100px;
  width: 30%;
}*/
form#search{
  margin:0px auto;
}
form h1 {
  font-size: 30px;
}
#keyword{
  border:1px solid #000000;
  background-color:#f6fade;
}
input#keyword{
  width:40%;
  height:30px;
  font-size: 14px;
}
img {
  display: block;
  margin: 50px auto;
  vertical-align: middle;
  height: 200px;
  width: 200px;
  transition: 1s;
}

.big {
  height: 350px;
  width: 350px;
  transition: 1s;
}
button{
  width:120px;
  height: 30px;
  font-size: 16px;
  background-color:#296ed6;
  color:#ffffff;
}
